# IntelliJ specific
/.idea/**

# SBT specific
.cache
.history
/project/project
/project/target
/target
/test-output

# A class to test things
/src/test/java/TestClass.java

/src/test/java/tests/generalcontrols/search/GiftCardsSearchTest.java
/bin
/build
